section {
    background-color: rgb(31, 31, 31);

}
body{
    background-color: rgb(51, 51, 51)!important;
}
header {
    background-color: #333333;
}

.container-element {
    background-color: #333333;
}

footer {
    background-color: #333333 !important;
}

footer section {
    background-color: #333333;

}

a {
    color: white !important;
}

i {
    color: white;
}

p {
    color: white;
}

.active {
    background-color: #919191 !important;

}

.card-container {
    background: #333333;

}

#bars {
    color: white !important;
}

ul {
    color: white;
}