.Shantell-Sans {
    font-family: 'Shantell Sans', cursive;
}

.fs-10 {
    font-size: 2.5rem !important;
}

.text-linkedink {
    color: rgb(24, 102, 190);
}

p {
    white-space: normal;
    word-wrap: break-word;
}

.rfs-1{
    font-size: 5em!important;
}
.rfs-2{
    font-size: 4em;
}
.rfs-3 {
    font-size: 3em!important;
}
.rfs-4 {
    font-size: 2em!important;
}

.rfs-5 {
    font-size: 1em!important;
}

.no-wrap {
    white-space: nowrap!important;
    /* Evita que el texto salte de línea */
}